
QuanLyKhoV3/.vs/QuanLyKhoV3/v16/.suo

QuanLyKhoV3/Framework/Repository.Pattern/bin/

QuanLyKhoV3/Framework/Repository.Pattern/obj/

QuanLyKhoV3/Framework/Repository.Pattern.Ef6/bin/

QuanLyKhoV3/Framework/Repository.Pattern.Ef6/obj/

QuanLyKhoV3/Framework/Service.Pattern/bin/

QuanLyKhoV3/Framework/Service.Pattern/obj/

QuanLyKhoV3/Framework/Util.Pattern/bin/

QuanLyKhoV3/Framework/Util.Pattern/obj/

QuanLyKhoV3/QuanLyKhoV3/bin/

QuanLyKhoV3/QuanLyKhoV3/obj/

QuanLyKhoV3/WH.Entity/bin/

QuanLyKhoV3/WH.Entity/obj/

QuanLyKhoV3/WH.GUI/bin/

QuanLyKhoV3/WH.GUI/obj/

QuanLyKhoV3/WH.Model/bin/

QuanLyKhoV3/WH.Model/obj/

QuanLyKhoV3/WH.Report/bin/

QuanLyKhoV3/WH.Report/obj/

QuanLyKhoV3/WH.Service/bin/

QuanLyKhoV3/WH.Service/obj/
