USE [master]
GO
/****** Object:  Database [QUANLYKHO_V3]    Script Date: 7/5/2017 1:38:11 PM ******/
CREATE DATABASE [QUANLYKHO_V3]
GO
use [QUANLYKHO_V3]
GO
USE [QUANLYKHO_V3]
GO
/****** Object:  Table [dbo].[CA]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA](
	[MACA] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[TIENBATDAU] [decimal](18, 0) NULL,
	[TIENBAN] [decimal](18, 0) NULL,
	[TIENKHACHTRA] [decimal](18, 0) NULL,
	[TIENTHOILAI] [decimal](18, 0) NULL,
	[TIENKHUYENMAI] [decimal](18, 0) NULL,
	[TONGTIENKETCA] [decimal](18, 0) NULL,
	[SOLUONGHOADON] [int] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[BATDAUCA] [bit] NULL,
	[TRONGCA] [bit] NULL,
	[KETCA] [bit] NULL,
 CONSTRAINT [PK__CA__21B6055D] PRIMARY KEY CLUSTERED 
(
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONFIG_PRINTER]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONFIG_PRINTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[IP] [varchar](100) NULL,
	[NumberPrint] [int] NULL,
	[IsUse] [bit] NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHIETKHAULOAIMATHANG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIETKHAULOAIMATHANG](
	[MACHIETKHAU] [int] IDENTITY(1,1) NOT NULL,
	[MALOAIMATHANG] [int] NULL,
	[MUCQUYDINHTU] [decimal](18, 2) NULL,
	[MUCQUYDINHDEN] [decimal](18, 2) NULL,
	[CHIETKHAU1] [float] NULL,
	[CHIETKHAU2] [float] NULL,
	[CHIETKHAU3] [float] NULL,
	[ISUSE] [bit] NULL CONSTRAINT [DF__CHIETKHAU__ISUSE__4316F928]  DEFAULT ((1)),
 CONSTRAINT [PK__CHIETKHAULOAIMAT__30F848ED] PRIMARY KEY CLUSTERED 
(
	[MACHIETKHAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[MACHUCNANG] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUCNANG] [nvarchar](200) NULL,
 CONSTRAINT [PK__CHUCNANG__1FCDBCEB] PRIMARY KEY CLUSTERED 
(
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[MADONVI] [int] IDENTITY(1,1) NOT NULL,
	[TENDONVI] [nvarchar](100) NULL,
	[ISUSE] [bit] NULL CONSTRAINT [DF__DONVI__ISUSE__440B1D61]  DEFAULT ((1)),
 CONSTRAINT [PK__DONVI__1B0907CE] PRIMARY KEY CLUSTERED 
(
	[MADONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNHAPKHO]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONNHAPKHO](
	[MAHOADONNHAP] [varchar](100) NOT NULL,
	[THANHTIENCHUACK_HD] [decimal](18, 2) NULL,
	[CHIETKHAUTHEOTIEN_HD] [decimal](18, 2) NULL,
	[SOTIENTHANHTOAN_HD] [decimal](18, 2) NULL,
	[SOTIENCHI] [decimal](18, 2) NULL,
	[LOAIHOADON] [int] NULL,
	[HANTHANHTOAN] [datetime] NULL,
	[GHICHU_HD] [nvarchar](200) NULL,
	[DATHANHTOAN] [bit] NULL,
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYTAOHOADON] [datetime] NULL,
	[ISDELETE] [bit] NULL,
	[MANHACUNGCAP] [int] NULL,
	[MACA] [int] NULL,
 CONSTRAINT [PK__HOADONNHAPKHO__173876EA] PRIMARY KEY CLUSTERED 
(
	[MAHOADONNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONNHAPXUAT]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONNHAPXUAT](
	[MAHOADON] [varchar](100) NOT NULL,
	[THANHTIENCHUACK_HD] [decimal](18, 2) NULL,
	[TIENCHIETKHAU_HD] [decimal](18, 2) NULL,
	[TIENKHUYENMAI_HD] [decimal](18, 2) NULL,
	[SOTIENTHANHTOAN_HD] [decimal](18, 2) NULL,
	[SOTIENKHACHDUA_HD] [decimal](18, 2) NULL,
	[LOAIHOADON] [int] NULL,
	[HANTHANHTOAN] [datetime] NULL,
	[GHICHU_HD] [nvarchar](500) NULL,
	[DATHANHTOAN] [bit] NULL,
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYTAOHOADON] [datetime] NULL,
	[ISDELETE] [bit] NULL,
	[MAKHACHHANG] [uniqueidentifier] NULL,
	[MACA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONNHAPXUATCHITIET]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONNHAPXUATCHITIET](
	[MACHITIETHOADON] [varchar](100) NOT NULL,
	[MAHOADON] [varchar](100) NULL,
	[MAKHO] [uniqueidentifier] NULL,
	[MAMATHANG] [int] NULL,
	[SOLUONGSI] [decimal](18, 2) NULL,
	[SOLUONGLE] [decimal](18, 2) NULL,
	[DONGIASI] [decimal](18, 2) NULL,
	[CHIETKHAUTHEOPHANTRAM] [float] NULL,
	[CHIETKHAUTHEOTIEN] [decimal](18, 2) NULL,
	[ISCKPHANTRAM] [bit] NULL,
	[THANHTIENTRUOCCHIETKHAU_CT] [decimal](18, 2) NULL,
	[THANHTIENSAUCHIETKHAU_CT] [decimal](18, 2) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[ISDELETE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHITIETHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONXUATKHO]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONXUATKHO](
	[MAHOADONXUAT] [varchar](100) NOT NULL,
	[THANHTIENCHUACK_HD] [decimal](18, 2) NULL,
	[TIENCHIETKHAU_HD] [decimal](18, 2) NULL,
	[TIENKHUYENMAI_HD] [decimal](18, 2) NULL,
	[SOTIENTHANHTOAN_HD] [decimal](18, 2) NULL,
	[SOTIENKHACHDUA_HD] [decimal](18, 2) NULL,
	[LOAIHOADON] [int] NULL,
	[HANTHANHTOAN] [datetime] NULL,
	[GHICHU_HD] [nvarchar](500) NULL,
	[DATHANHTOAN] [bit] NULL CONSTRAINT [DF__HOADONXUA__DATHA__47DBAE45]  DEFAULT ((0)),
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYTAOHOADON] [datetime] NULL,
	[ISDELETE] [bit] NULL CONSTRAINT [DF__HOADONXUA__ISDEL__48CFD27E]  DEFAULT ((0)),
	[MAKHACHHANG] [uniqueidentifier] NULL,
	[MACA] [int] NULL,
 CONSTRAINT [PK__HOADONXUATKHO__15502E78] PRIMARY KEY CLUSTERED 
(
	[MAHOADONXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONXUATKHOCHITIET]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONXUATKHOCHITIET](
	[MACHITIETHOADON] [varchar](100) NOT NULL,
	[MAHOADON] [varchar](100) NULL,
	[MAKHO] [uniqueidentifier] NULL,
	[MAMATHANG] [int] NULL,
	[SOLUONGSI] [decimal](18, 2) NULL,
	[SOLUONGLE] [decimal](18, 0) NULL,
	[DONGIASI] [decimal](18, 2) NULL,
	[CHIETKHAUTHEOPHANTRAM] [float] NULL,
	[CHIETKHAUTHEOTIEN] [decimal](18, 2) NULL,
	[ISCKPHANTRAM] [bit] NULL CONSTRAINT [DF__HOADONXUA__ISCKP__49C3F6B7]  DEFAULT ((0)),
	[THANHTIENTRUOCCHIETKHAU_CT] [decimal](18, 2) NULL,
	[THANHTIENSAUCHIETKHAU_CT] [decimal](18, 2) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[ISDELETE] [bit] NULL CONSTRAINT [DF__HOADONXUA__ISDEL__4AB81AF0]  DEFAULT ((0)),
 CONSTRAINT [PK__HOADONXUATKHOCHI__1367E606] PRIMARY KEY CLUSTERED 
(
	[MACHITIETHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONHAPKHOCHITIET]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONHAPKHOCHITIET](
	[MACHITIETHOADON] [varchar](100) NOT NULL,
	[MAHOADON] [varchar](100) NOT NULL,
	[MAKHO] [uniqueidentifier] NULL,
	[MAMATHANG] [int] NULL,
	[SOLUONGSI] [decimal](18, 2) NULL,
	[SOLUONGLE] [decimal](18, 0) NULL,
	[DONGIA] [decimal](18, 2) NULL,
	[TIENVAT] [decimal](18, 2) NULL,
	[THANHTIENTRUOCCHIETKHAU_CT] [decimal](18, 2) NULL,
	[THANHTIENSAUCHIETKHAU_CT] [decimal](18, 2) NULL,
	[GHICHU_CT] [nvarchar](500) NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__HOADONHAPKHOCHIT__1920BF5C] PRIMARY KEY CLUSTERED 
(
	[MACHITIETHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [uniqueidentifier] NOT NULL,
	[MABARCODE] [nvarchar](200) NULL,
	[HINHANH] [image] NULL,
	[CODEKHACHHANG] [nvarchar](200) NULL,
	[CMND] [nvarchar](12) NULL,
	[MAKHUVUC] [int] NULL,
	[MANHOM] [int] NULL,
	[MALOAIKHACHHANG] [int] NULL,
	[TENKHACHHANG] [nvarchar](200) NULL,
	[MASOTHUE] [nvarchar](20) NULL,
	[NGUOIDAIDIEN] [nvarchar](200) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[CHUCVU] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DIENTHOAI] [nvarchar](15) NULL,
	[FAX] [nvarchar](15) NULL,
	[DIDONG] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[CHECKTPYE] [int] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[DIACHICONGTY] [nvarchar](100) NULL,
	[TENTATKHACHHANG] [nvarchar](100) NULL,
	[CONGTY] [nvarchar](100) NULL,
	[DIACHIGIAOHOADON] [nvarchar](200) NULL,
	[DIACHIGIAOHANG] [nvarchar](200) NULL,
	[DIACHIGIAOHANG2] [nvarchar](max) NULL,
	[TONGCONGNO] [decimal](18, 0) NULL,
	[GIOIHANCONGNO] [decimal](18, 0) NULL,
	[GIOIHANSONGAYNO] [int] NULL,
	[NGAYNOGANNHAT] [datetime] NULL,
	[CHIETKHAU] [float] NULL,
	[CHECKKHUYENMAI] [int] NULL,
	[ISUSE] [bit] NULL CONSTRAINT [DF__KHACHHANG__ISUSE__4BAC3F29]  DEFAULT ((1)),
	[ISDELETE] [bit] NULL CONSTRAINT [DF__KHACHHANG__ISDEL__4CA06362]  DEFAULT ((0)),
	[NGAYTAO] [datetime] NULL,
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[NGUOICAPNHAT] [nvarchar](100) NULL,
 CONSTRAINT [PK__KHACHHANG__32E0915F] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANGKHUVUC]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANGKHUVUC](
	[MAKHUVUC] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](500) NULL,
	[QUANGDUONG] [int] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ISUSE] [bit] NULL CONSTRAINT [DF__KHACHHANG__ISUSE__4D94879B]  DEFAULT ((1)),
 CONSTRAINT [PK__KHACHHANGKHUVUC__117F9D94] PRIMARY KEY CLUSTERED 
(
	[MAKHUVUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANGNHOM]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANGNHOM](
	[MANHOM] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](500) NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK__KHACHHANGNHOM__0F975522] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANGTHEODOIDOANHTHU]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANGTHEODOIDOANHTHU](
	[MAKHACHHANG] [uniqueidentifier] NOT NULL,
	[NAM] [int] NOT NULL,
	[THANG1] [decimal](18, 2) NULL,
	[THANG2] [decimal](18, 2) NULL,
	[THANG3] [decimal](18, 2) NULL,
	[THANG4] [decimal](18, 2) NULL,
	[THANG5] [decimal](18, 2) NULL,
	[THANG6] [decimal](18, 2) NULL,
	[THANG7] [decimal](18, 2) NULL,
	[THANG8] [decimal](18, 2) NULL,
	[THANG9] [decimal](18, 2) NULL,
	[THANG10] [decimal](18, 2) NULL,
	[THANG11] [decimal](18, 2) NULL,
	[THANG12] [decimal](18, 2) NULL,
	[THEODOI] [bit] NULL,
	[NGUOICAPNHAT] [nvarchar](100) NULL,
 CONSTRAINT [PK__KHACHHANGTHEODOI__0DAF0CB0] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [uniqueidentifier] NOT NULL,
	[MACODE] [nvarchar](20) NULL,
	[TENKHO] [nvarchar](200) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[ISUSE] [bit] NULL CONSTRAINT [DF__KHO__ISUSE__4E88ABD4]  DEFAULT ((1)),
	[KHOMACDINH] [bit] NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK__KHO__0BC6C43E] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOMATHANG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOMATHANG](
	[MAKHO] [uniqueidentifier] NOT NULL,
	[MAMATHANG] [int] NOT NULL,
	[SOLUONGSI] [decimal](18, 0) NULL,
	[SOLUONGLE] [decimal](18, 0) NULL,
 CONSTRAINT [PK__KHOMATHANG__3A81B327] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC,
	[MAMATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](200) NULL,
	[DIEMDAT] [int] NULL,
	[ISUSE] [bit] NULL CONSTRAINT [DF__LOAIKHACH__ISUSE__4F7CD00D]  DEFAULT ((1)),
	[ISDELETE] [bit] NULL CONSTRAINT [DF__LOAIKHACH__ISDEL__5070F446]  DEFAULT ((0)),
 CONSTRAINT [PK__LOAIKHACHHANG__09DE7BCC] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIMATHANG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMATHANG](
	[MALOAIMATHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIMATHANG] [nvarchar](200) NULL,
	[MOTA] [nvarchar](100) NULL,
	[STATUS] [int] NULL,
	[NGAYTAO] [datetime] NULL,
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[NGUOICAPNHAT] [nvarchar](100) NULL,
 CONSTRAINT [PK__LOAIMATHANG__07F6335A] PRIMARY KEY CLUSTERED 
(
	[MALOAIMATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAINHANVIEN]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHANVIEN](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](200) NULL,
	[ISUSE] [bit] NULL CONSTRAINT [DF__LOAINHANV__ISUSE__5165187F]  DEFAULT ((1)),
 CONSTRAINT [PK__LOAINHANVIEN__060DEAE8] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAMATHANG] [int] IDENTITY(1,1) NOT NULL,
	[MABARCODE] [nvarchar](200) NULL,
	[MACODE] [nvarchar](200) NULL,
	[TENMATHANG] [nvarchar](200) NULL,
	[HINHANH] [image] NULL,
	[MADONVISI] [int] NULL,
	[MADONVILE] [int] NULL,
	[SOLUONGQUYDOI] [int] NULL,
	[VAT] [int] NULL,
	[CHIETKHAU] [float] NULL,
	[XUATXU] [nvarchar](max) NULL,
	[GIANHAP] [decimal](18, 2) NULL,
	[GIALE] [decimal](18, 2) NULL,
	[GIAQUYDINH] [decimal](18, 2) NULL,
	[GIACHIATHANG] [decimal](18, 2) NULL,
	[GIAKHUYENMAI] [decimal](18, 2) NULL,
	[NGUONGNHAP] [decimal](18, 2) NULL,
	[NGUONGXUAT] [decimal](18, 2) NULL,
	[ISKHUYENMAI] [bit] NULL CONSTRAINT [DF__MATHANG__ISKHUYE__52593CB8]  DEFAULT ((0)),
	[ISUSE] [bit] NULL CONSTRAINT [DF__MATHANG__ISUSE__534D60F1]  DEFAULT ((1)),
	[ISDELETE] [bit] NULL CONSTRAINT [DF__MATHANG__ISDELET__5441852A]  DEFAULT ((0)),
	[ISTHEODOI] [bit] NULL,
	[NGAYTAO] [datetime] NULL,
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[NGUOICAPNHAT] [nvarchar](100) NULL,
	[MALOAIMATHANG] [int] NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK__MATHANG__34C8D9D1] PRIMARY KEY CLUSTERED 
(
	[MAMATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANGKHUYENMAI]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANGKHUYENMAI](
	[MAMATHANG] [int] NOT NULL,
	[MAMATHANGKHUYENMAI] [int] NOT NULL,
	[SOLUONGMATHANGQUYDOI] [decimal](18, 0) NULL,
	[SOLUONGSI] [decimal](18, 0) NULL,
	[SOLUONGLE] [decimal](18, 0) NULL,
	[TIENKHUYENMAI] [decimal](18, 0) NULL,
	[TONGTIENKHUYENMAI] [decimal](18, 0) NULL,
	[ISUSE] [bit] NULL,
 CONSTRAINT [PK__MATHANGKHUYENMAI__38996AB5] PRIMARY KEY CLUSTERED 
(
	[MAMATHANG] ASC,
	[MAMATHANGKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MANGUOIDUNG] [varchar](20) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[TENNGUOIDUNG] [nvarchar](200) NULL,
	[TENDANGNHAP] [nvarchar](200) NULL,
	[MATKHAU] [nvarchar](200) NULL,
	[ISDELETE] [bit] NULL CONSTRAINT [DF__NGUOIDUNG__ISDEL__5629CD9C]  DEFAULT ((0)),
 CONSTRAINT [PK__NGUOIDUNG__0425A276] PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG_QUYENHAN]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG_QUYENHAN](
	[MANGUOIDUNG] [varchar](20) NOT NULL,
	[MACHUCNANG] [int] NOT NULL,
	[QUYENXEM] [bit] NULL,
	[QUYENSUA] [bit] NULL,
	[QUYENXOA] [bit] NULL,
	[QUYENTIMKIEM] [bit] NULL,
	[QUYENXUATFILE] [bit] NULL,
	[QUYENIN] [bit] NULL,
 CONSTRAINT [PK__NGUOIDUNG_QUYENH__2B3F6F97] PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC,
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](300) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DIENTHOAI] [varchar](30) NULL,
	[DIDONG] [varchar](30) NULL,
	[NGUOIDAIDIEN] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](200) NULL,
	[THEODOI] [bit] NULL,
	[ISDELETE] [bit] NULL CONSTRAINT [DF__NHACUNGCA__ISDEL__571DF1D5]  DEFAULT ((0)),
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK__NHACUNGCAP__29572725] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI] [int] NULL,
	[TENNHANVIEN] [nvarchar](200) NULL,
	[CHUCVU] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](8) NULL,
	[CMND] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[QUEQUAN] [nvarchar](200) NULL,
	[DIDONG] [nvarchar](200) NULL,
	[LUONGCOBAN] [decimal](18, 0) NULL,
	[EMAIL] [nvarchar](200) NULL,
	[THEODOI] [bit] NULL,
	[NGAYTAO] [datetime] NULL,
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[NGUOICAPNHAT] [nvarchar](100) NULL,
	[ISDELETE] [bit] NULL CONSTRAINT [DF__NHANVIEN__ISDELE__5812160E]  DEFAULT ((0)),
 CONSTRAINT [PK__NHANVIEN__2D27B809] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUCHI]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUCHI](
	[MAPHIEUCHI] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADONCHI] [varchar](100) NULL,
	[MAHOADONNHAPKHO] [varchar](100) NULL,
	[TIENTHANHTOAN] [decimal](18, 2) NULL,
	[DIENGIAI] [nvarchar](500) NULL,
	[MACA] [int] NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
 CONSTRAINT [PK__PHIEUCHI__25869641] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[MAPHIEUTHU] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADONTHU] [varchar](100) NULL,
	[MAHOADONXUATKHO] [varchar](100) NULL,
	[TIENTHANHTOAN] [decimal](18, 2) NULL,
	[DIENGIAI] [nvarchar](500) NULL,
	[MACA] [int] NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
 CONSTRAINT [PK__PHIEUTHU__239E4DCF] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUANLYTHETHEOKHACHHANG]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANLYTHETHEOKHACHHANG](
	[KHCARDMANAGERID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [uniqueidentifier] NULL,
	[MATHE] [varchar](100) NULL,
	[NGAYCAPTHE] [datetime] NULL,
	[NGAYHETHANTHE] [datetime] NULL,
	[NGAYMUADAUTIEN] [datetime] NULL,
	[NGAYMUACUOICUNG] [datetime] NULL,
	[TONGTICHLUY] [decimal](18, 0) NULL,
	[STATUS] [int] NULL,
	[ISUSE] [bit] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__QUANLYTHETHEOKHA__36B12243] PRIMARY KEY CLUSTERED 
(
	[KHCARDMANAGERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SETDATETIME]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[SETDATETIME](
	[ID] [varchar](100) NOT NULL,
	[maxdate] [datetime] NULL,
	[mindate] [datetime] NULL,
	[active] [bit] NULL,
	[number] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEMP_HOADONNHAPKHO]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEMP_HOADONNHAPKHO](
	[MAHOADONNHAP] [varchar](100) NOT NULL,
	[THANHTIENCHUACK_HD] [decimal](18, 0) NULL,
	[CHIETKHAUTHEOTIEN_HD] [decimal](18, 0) NULL,
	[SOTIENTHANHTOAN_HD] [decimal](18, 0) NULL,
	[SOTIENCHI] [decimal](18, 0) NULL,
	[LOAIHOADON] [int] NULL,
	[HANTHANHTOAN] [datetime] NULL,
	[GHICHU_HD] [nvarchar](500) NULL,
	[DATHANHTOAN] [bit] NULL,
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYTAOHOADON] [datetime] NULL,
	[ISDELETE] [bit] NULL,
	[MANHACUNGCAP] [int] NULL,
	[MACA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADONNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEMP_HOADONXUATKHO]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEMP_HOADONXUATKHO](
	[MAHOADONXUAT] [varchar](100) NOT NULL,
	[THANHTIENCHUACK_HD] [decimal](18, 0) NULL,
	[TIENCHIETKHAU_HD] [decimal](18, 0) NULL,
	[TIENKHUYENMAI_HD] [decimal](18, 0) NULL,
	[SOTIENTHANHTOAN_HD] [decimal](18, 0) NULL,
	[SOTIENKHACHDUA_HD] [decimal](18, 0) NULL,
	[LOAIHOADON] [int] NULL,
	[HANTHANHTOAN] [datetime] NULL,
	[GHICHU_HD] [nvarchar](500) NULL,
	[DATHANHTOAN] [bit] NULL,
	[NGUOITAO] [nvarchar](100) NULL,
	[NGAYTAOHOADON] [datetime] NULL,
	[ISDELETE] [bit] NULL,
	[MAKHACHHANG] [uniqueidentifier] NULL,
	[MACA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADONXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEMP_HOADONXUATKHOCHITIET]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEMP_HOADONXUATKHOCHITIET](
	[MACHITIETHOADON] [varchar](100) NOT NULL,
	[MAHOADON] [varchar](100) NULL,
	[MAKHO] [uniqueidentifier] NULL,
	[MAMATHANG] [int] NULL,
	[SOLUONGSI] [decimal](18, 2) NULL,
	[SOLUONGLE] [decimal](18, 2) NULL,
	[DONGIASI] [decimal](18, 2) NULL,
	[CHIETKHAUTHEOPHANTRAM] [float] NULL,
	[CHIETKHAUTHEOTIEN] [decimal](18, 2) NULL,
	[ISCKPHANTRAM] [bit] NULL,
	[THANHTIENTRUOCCHIETKHAU_CT] [decimal](18, 2) NULL,
	[THANHTIENSAUCHIETKHAU_CT] [decimal](18, 2) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__TEMP_HOA__5E6E1E82F8DC5344] PRIMARY KEY CLUSTERED 
(
	[MACHITIETHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEMP_HOADONHAPKHOCHITIET]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEMP_HOADONHAPKHOCHITIET](
	[MACHITIETHOADON] [varchar](100) NOT NULL,
	[MAHOADON] [varchar](100) NULL,
	[MAKHO] [uniqueidentifier] NULL,
	[MAMATHANG] [int] NULL,
	[SOLUONGSI] [decimal](18, 2) NULL,
	[SOLUONGLE] [decimal](18, 2) NULL,
	[DONGIA] [decimal](18, 2) NULL,
	[TIENVAT] [decimal](18, 2) NULL,
	[THANHTIENTRUOCCHIETKHAU_CT] [decimal](18, 2) NULL,
	[THANHTIENSAUCHIETKHAU_CT] [decimal](18, 2) NULL,
	[GHICHU_CT] [nvarchar](500) NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__TEMP_HOA__5E6E1E8233AEE10D] PRIMARY KEY CLUSTERED 
(
	[MACHITIETHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGTINTHE]    Script Date: 7/20/2017 1:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTINTHE](
	[MATHE] [varchar](100) NOT NULL,
	[TEN] [nvarchar](200) NULL,
	[TUMUC] [decimal](18, 0) NULL,
	[DENMUC] [decimal](18, 0) NULL,
	[TILEGIAMGIA] [decimal](18, 0) NULL,
	[ISUSE] [bit] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__THONGTINTHE__276EDEB3] PRIMARY KEY CLUSTERED 
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CHIETKHAULOAIMATHANG] ON 

GO
INSERT [dbo].[CHIETKHAULOAIMATHANG] ([MACHIETKHAU], [MALOAIMATHANG], [MUCQUYDINHTU], [MUCQUYDINHDEN], [CHIETKHAU1], [CHIETKHAU2], [CHIETKHAU3], [ISUSE]) VALUES (1, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 0, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[CHIETKHAULOAIMATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[CHUCNANG] ON 

GO
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG]) VALUES (1, N'XUẤT KHO')
GO
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG]) VALUES (2, N'MẶT HÀNG')
GO
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG]) VALUES (3, N'KHÁCH HÀNG')
GO
SET IDENTITY_INSERT [dbo].[CHUCNANG] OFF
GO
SET IDENTITY_INSERT [dbo].[DONVI] ON 

GO
INSERT [dbo].[DONVI] ([MADONVI], [TENDONVI], [ISUSE]) VALUES (1, N'None', 1)
GO
SET IDENTITY_INSERT [dbo].[DONVI] OFF
GO
INSERT [dbo].[HOADONNHAPXUAT] ([MAHOADON], [THANHTIENCHUACK_HD], [TIENCHIETKHAU_HD], [TIENKHUYENMAI_HD], [SOTIENTHANHTOAN_HD], [SOTIENKHACHDUA_HD], [LOAIHOADON], [HANTHANHTOAN], [GHICHU_HD], [DATHANHTOAN], [NGUOITAO], [NGAYTAOHOADON], [ISDELETE], [MAKHACHHANG], [MACA]) VALUES (N'TH_KH291bf5b0-3cbc-48f3-a7d1-7eee4ccb5ff0', CAST(22.50 AS Decimal(18, 2)), CAST(1.12 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(21.36 AS Decimal(18, 2)), CAST(21.36 AS Decimal(18, 2)), 2, NULL, N'', 1, N'ND001', CAST(N'2017-07-19 16:35:17.137' AS DateTime), 0, N'c2aa59df-1a95-4d1b-9eb1-37cd6219d5d2', NULL)
GO
INSERT [dbo].[HOADONXUATKHO] ([MAHOADONXUAT], [THANHTIENCHUACK_HD], [TIENCHIETKHAU_HD], [TIENKHUYENMAI_HD], [SOTIENTHANHTOAN_HD], [SOTIENKHACHDUA_HD], [LOAIHOADON], [HANTHANHTOAN], [GHICHU_HD], [DATHANHTOAN], [NGUOITAO], [NGAYTAOHOADON], [ISDELETE], [MAKHACHHANG], [MACA]) VALUES (N'BH_KH88cac643-73da-47d1-9d96-a4ddc2584611', CAST(10.50 AS Decimal(18, 2)), CAST(0.52 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(9.97 AS Decimal(18, 2)), CAST(9.97 AS Decimal(18, 2)), 2, NULL, N'', 1, N'ND001', CAST(N'2017-07-19 17:02:50.037' AS DateTime), 0, N'4c410a9f-501a-488b-9483-871c7a042de4', NULL)
GO
SET IDENTITY_INSERT [dbo].[KHACHHANGKHUVUC] ON 

GO
INSERT [dbo].[KHACHHANGKHUVUC] ([MAKHUVUC], [TEN], [QUANGDUONG], [GHICHU], [ISUSE]) VALUES (1, N'None', 0, N'', 1)
GO
SET IDENTITY_INSERT [dbo].[KHACHHANGKHUVUC] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANGNHOM] ON 

GO
INSERT [dbo].[KHACHHANGNHOM] ([MANHOM], [TEN], [GHICHU]) VALUES (1, N'Khách Mua Buôn', N'Mua Sỉ')
GO
INSERT [dbo].[KHACHHANGNHOM] ([MANHOM], [TEN], [GHICHU]) VALUES (2, N'Khách Mua Lẻ', N'Mua Lẻ')
GO
SET IDENTITY_INSERT [dbo].[KHACHHANGNHOM] OFF
GO
INSERT [dbo].[KHO] ([MAKHO], [MACODE], [TENKHO], [DIACHI], [ISUSE], [KHOMACDINH], [GHICHU]) VALUES (N'f1ef7187-ec01-45e5-99fa-718ea3edfde6', N'KH0001', N'KHO CHÍNH', N'', 1, 1, N'KHO MẶC ĐỊNH')
GO
INSERT [dbo].[KHOMATHANG] ([MAKHO], [MAMATHANG], [SOLUONGSI], [SOLUONGLE]) VALUES (N'f1ef7187-ec01-45e5-99fa-718ea3edfde6', 1, CAST(0 AS Decimal(18, 0)), CAST(13 AS Decimal(18, 0)))
GO
INSERT [dbo].[KHOMATHANG] ([MAKHO], [MAMATHANG], [SOLUONGSI], [SOLUONGLE]) VALUES (N'f1ef7187-ec01-45e5-99fa-718ea3edfde6', 2, CAST(0 AS Decimal(18, 0)), CAST(12 AS Decimal(18, 0)))
GO
INSERT [dbo].[KHOMATHANG] ([MAKHO], [MAMATHANG], [SOLUONGSI], [SOLUONGLE]) VALUES (N'f1ef7187-ec01-45e5-99fa-718ea3edfde6', 3, CAST(0 AS Decimal(18, 0)), CAST(15 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[LOAIKHACHHANG] ON 

GO
INSERT [dbo].[LOAIKHACHHANG] ([MALOAI], [TENLOAI], [DIEMDAT], [ISUSE], [ISDELETE]) VALUES (1, N'Khách Thường', 0, 1, 0)
GO
INSERT [dbo].[LOAIKHACHHANG] ([MALOAI], [TENLOAI], [DIEMDAT], [ISUSE], [ISDELETE]) VALUES (2, N'Khách Vip', 1000, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[LOAIKHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIMATHANG] ON 

GO
INSERT [dbo].[LOAIMATHANG] ([MALOAIMATHANG], [TENLOAIMATHANG], [MOTA], [STATUS], [NGAYTAO], [NGUOITAO], [NGAYCAPNHAT], [NGUOICAPNHAT]) VALUES (1, N'None', N'', 1, CAST(N'2014-11-03 11:58:05.707' AS DateTime), N'1', CAST(N'2014-11-03 11:58:05.707' AS DateTime), N'1')
GO
INSERT [dbo].[LOAIMATHANG] ([MALOAIMATHANG], [TENLOAIMATHANG], [MOTA], [STATUS], [NGAYTAO], [NGUOITAO], [NGAYCAPNHAT], [NGUOICAPNHAT]) VALUES (2, N'LOAI 1', N'11', 2, CAST(N'2017-07-06 20:21:00.327' AS DateTime), N'ND001', CAST(N'2017-07-06 20:21:00.327' AS DateTime), N'ND001')
GO
INSERT [dbo].[LOAIMATHANG] ([MALOAIMATHANG], [TENLOAIMATHANG], [MOTA], [STATUS], [NGAYTAO], [NGUOITAO], [NGAYCAPNHAT], [NGUOICAPNHAT]) VALUES (3, N'Cơm', N'', 1, CAST(N'2017-07-18 12:51:32.850' AS DateTime), N'ND001', CAST(N'2017-07-18 12:51:32.850' AS DateTime), N'ND001')
GO
SET IDENTITY_INSERT [dbo].[LOAIMATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAINHANVIEN] ON 

GO
INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI], [ISUSE]) VALUES (1, N'Quản Lý', 1)
GO
INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI], [ISUSE]) VALUES (2, N'Nhân Viên', 1)
GO
INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI], [ISUSE]) VALUES (3, N'Kế Toán', 1)
GO
SET IDENTITY_INSERT [dbo].[LOAINHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[MATHANG] ON 

GO
SET IDENTITY_INSERT [dbo].[MATHANG] OFF
GO
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [MANHANVIEN], [TENNGUOIDUNG], [TENDANGNHAP], [MATKHAU], [ISDELETE]) VALUES (N'ND001', 1, N'ADMIN', N'ADMIN', N'TBSYa9ERWC0igPNs8UqH3w==', 0)
GO
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [MANHANVIEN], [TENNGUOIDUNG], [TENDANGNHAP], [MATKHAU], [ISDELETE]) VALUES (N'ND002', 1, N'ADMIN1', N'ADMIN1', N'TBSYa9ERWC0igPNs8UqH3w==', 0)
GO
INSERT [dbo].[NGUOIDUNG_QUYENHAN] ([MANGUOIDUNG], [MACHUCNANG], [QUYENXEM], [QUYENSUA], [QUYENXOA], [QUYENTIMKIEM], [QUYENXUATFILE], [QUYENIN]) VALUES (N'ND001', 1, 1, 1, 1, 1, 1, 1)
GO
INSERT [dbo].[NGUOIDUNG_QUYENHAN] ([MANGUOIDUNG], [MACHUCNANG], [QUYENXEM], [QUYENSUA], [QUYENXOA], [QUYENTIMKIEM], [QUYENXUATFILE], [QUYENIN]) VALUES (N'ND001', 2, 1, 1, 1, 1, 1, 1)
GO
INSERT [dbo].[NGUOIDUNG_QUYENHAN] ([MANGUOIDUNG], [MACHUCNANG], [QUYENXEM], [QUYENSUA], [QUYENXOA], [QUYENTIMKIEM], [QUYENXUATFILE], [QUYENIN]) VALUES (N'ND001', 3, 1, 1, 1, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

GO
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [DIENTHOAI], [DIDONG], [NGUOIDAIDIEN], [EMAIL], [THEODOI], [ISDELETE], [GHICHU]) VALUES (1, N'Nick', N'', N'', N'', N'', N'', 1, 0, N'')
GO
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [DIENTHOAI], [DIDONG], [NGUOIDAIDIEN], [EMAIL], [THEODOI], [ISDELETE], [GHICHU]) VALUES (2, N'Phuoc ', N'21321', N'12312', N'312', N'123123', N'213123', 1, 0, N'12312')
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

GO
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [MALOAI], [TENNHANVIEN], [CHUCVU], [NGAYSINH], [GIOITINH], [CMND], [DIACHI], [QUEQUAN], [DIDONG], [LUONGCOBAN], [EMAIL], [THEODOI], [NGAYTAO], [NGUOITAO], [NGAYCAPNHAT], [NGUOICAPNHAT], [ISDELETE]) VALUES (1, 1, N'ADMIN', N'ADMIN', CAST(N'1990-01-01 00:00:00.000' AS DateTime), N'', N'', N'', N'', N'', CAST(0 AS Decimal(18, 0)), N'', 1, CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'', CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'', 0)
GO
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [MALOAI], [TENNHANVIEN], [CHUCVU], [NGAYSINH], [GIOITINH], [CMND], [DIACHI], [QUEQUAN], [DIDONG], [LUONGCOBAN], [EMAIL], [THEODOI], [NGAYTAO], [NGUOITAO], [NGAYCAPNHAT], [NGUOICAPNHAT], [ISDELETE]) VALUES (2, 1, N'ADMIN1', N'ADMIN1', CAST(N'1990-01-01 00:00:00.000' AS DateTime), N'', N'', N'', N'', N'', CAST(0 AS Decimal(18, 0)), N'', 1, CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'', CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'', 0)
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUCHI] ON 

GO
INSERT [dbo].[PHIEUCHI] ([MAPHIEUCHI], [MAHOADONCHI], [MAHOADONNHAPKHO], [TIENTHANHTOAN], [DIENGIAI], [MACA], [NGAYTHANHTOAN]) VALUES (11, N'TH_KH291bf5b0-3cbc-48f3-a7d1-7eee4ccb5ff0', NULL, CAST(21.36 AS Decimal(18, 2)), N'', 0, CAST(N'2017-07-19 16:35:31.553' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PHIEUCHI] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUTHU] ON 

GO
INSERT [dbo].[PHIEUTHU] ([MAPHIEUTHU], [MAHOADONTHU], [MAHOADONXUATKHO], [TIENTHANHTOAN], [DIENGIAI], [MACA], [NGAYTHANHTOAN]) VALUES (68, N'PT19072017145614946_BH_KH1d91d391-f834-4862-b03a-5c03be7d66c6', N'BH_KH1d91d391-f834-4862-b03a-5c03be7d66c6', CAST(141.27 AS Decimal(18, 2)), N'', 0, CAST(N'2017-07-19 14:56:14.947' AS DateTime))
GO
INSERT [dbo].[PHIEUTHU] ([MAPHIEUTHU], [MAHOADONTHU], [MAHOADONXUATKHO], [TIENTHANHTOAN], [DIENGIAI], [MACA], [NGAYTHANHTOAN]) VALUES (69, N'PT19072017170306447_BH_KH88cac643-73da-47d1-9d96-a4ddc2584611', N'BH_KH88cac643-73da-47d1-9d96-a4ddc2584611', CAST(9.97 AS Decimal(18, 2)), N'', 0, CAST(N'2017-07-19 17:03:06.447' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PHIEUTHU] OFF
GO
ALTER TABLE [dbo].[HOADONNHAPKHO] ADD  CONSTRAINT [DF__HOADONNHA__DATHA__45F365D3]  DEFAULT ((0)) FOR [DATHANHTOAN]
GO
ALTER TABLE [dbo].[HOADONNHAPKHO] ADD  CONSTRAINT [DF__HOADONNHA__ISDEL__46E78A0C]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[HOADONHAPKHOCHITIET] ADD  CONSTRAINT [DF__HOADONHAP__ISDEL__44FF419A]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[MATHANGKHUYENMAI] ADD  CONSTRAINT [DF__MATHANGKH__ISUSE__5535A963]  DEFAULT ((1)) FOR [ISUSE]
GO
ALTER TABLE [dbo].[QUANLYTHETHEOKHACHHANG] ADD  CONSTRAINT [DF__QUANLYTHE__ISUSE__59063A47]  DEFAULT ((1)) FOR [ISUSE]
GO
ALTER TABLE [dbo].[QUANLYTHETHEOKHACHHANG] ADD  CONSTRAINT [DF__QUANLYTHE__ISDEL__59FA5E80]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[TEMP_HOADONNHAPKHO] ADD  DEFAULT ((0)) FOR [DATHANHTOAN]
GO
ALTER TABLE [dbo].[TEMP_HOADONNHAPKHO] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[TEMP_HOADONXUATKHO] ADD  DEFAULT ((0)) FOR [DATHANHTOAN]
GO
ALTER TABLE [dbo].[TEMP_HOADONXUATKHO] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[TEMP_HOADONXUATKHOCHITIET] ADD  CONSTRAINT [DF__TEMP_HOAD__ISCKP__6A30C649]  DEFAULT ((0)) FOR [ISCKPHANTRAM]
GO
ALTER TABLE [dbo].[TEMP_HOADONXUATKHOCHITIET] ADD  CONSTRAINT [DF__TEMP_HOAD__ISDEL__6B24EA82]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[TEMP_HOADONHAPKHOCHITIET] ADD  CONSTRAINT [DF__TEMP_HOAD__ISDEL__656C112C]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[THONGTINTHE] ADD  CONSTRAINT [DF__THONGTINT__ISUSE__619B8048]  DEFAULT ((1)) FOR [ISUSE]
GO
ALTER TABLE [dbo].[THONGTINTHE] ADD  CONSTRAINT [DF__THONGTINT__ISDEL__628FA481]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[CA]  WITH CHECK ADD  CONSTRAINT [FK_CA_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[CA] CHECK CONSTRAINT [FK_CA_NHANVIEN]
GO
ALTER TABLE [dbo].[CHIETKHAULOAIMATHANG]  WITH CHECK ADD  CONSTRAINT [FK__CHIETKHAU__MALOA__6383C8BA] FOREIGN KEY([MALOAIMATHANG])
REFERENCES [dbo].[LOAIMATHANG] ([MALOAIMATHANG])
GO
ALTER TABLE [dbo].[CHIETKHAULOAIMATHANG] CHECK CONSTRAINT [FK__CHIETKHAU__MALOA__6383C8BA]
GO
ALTER TABLE [dbo].[HOADONNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAPKHO_CA1] FOREIGN KEY([MACA])
REFERENCES [dbo].[CA] ([MACA])
GO
ALTER TABLE [dbo].[HOADONNHAPKHO] CHECK CONSTRAINT [FK_HOADONNHAPKHO_CA1]
GO
ALTER TABLE [dbo].[HOADONNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAPKHO_NHACUNGCAP] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[HOADONNHAPKHO] CHECK CONSTRAINT [FK_HOADONNHAPKHO_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOADONNHAPXUAT]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADONNHAPXUATCHITIET]  WITH CHECK ADD FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADONNHAPXUAT] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADONNHAPXUATCHITIET]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[HOADONNHAPXUATCHITIET]  WITH CHECK ADD FOREIGN KEY([MAMATHANG])
REFERENCES [dbo].[MATHANG] ([MAMATHANG])
GO
ALTER TABLE [dbo].[HOADONXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUATKHO_CA1] FOREIGN KEY([MACA])
REFERENCES [dbo].[CA] ([MACA])
GO
ALTER TABLE [dbo].[HOADONXUATKHO] CHECK CONSTRAINT [FK_HOADONXUATKHO_CA1]
GO
ALTER TABLE [dbo].[HOADONXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUATKHO_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADONXUATKHO] CHECK CONSTRAINT [FK_HOADONXUATKHO_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONXUATKHOCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUATKHOCHITIET_HOADONXUATKHO] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADONXUATKHO] ([MAHOADONXUAT])
GO
ALTER TABLE [dbo].[HOADONXUATKHOCHITIET] CHECK CONSTRAINT [FK_HOADONXUATKHOCHITIET_HOADONXUATKHO]
GO
ALTER TABLE [dbo].[HOADONXUATKHOCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUATKHOCHITIET_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[HOADONXUATKHOCHITIET] CHECK CONSTRAINT [FK_HOADONXUATKHOCHITIET_KHO]
GO
ALTER TABLE [dbo].[HOADONXUATKHOCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUATKHOCHITIET_MATHANG] FOREIGN KEY([MAMATHANG])
REFERENCES [dbo].[MATHANG] ([MAMATHANG])
GO
ALTER TABLE [dbo].[HOADONXUATKHOCHITIET] CHECK CONSTRAINT [FK_HOADONXUATKHOCHITIET_MATHANG]
GO
ALTER TABLE [dbo].[HOADONHAPKHOCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONHAPKHOCHITIET_HOADONNHAPKHO] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADONNHAPKHO] ([MAHOADONNHAP])
GO
ALTER TABLE [dbo].[HOADONHAPKHOCHITIET] CHECK CONSTRAINT [FK_HOADONHAPKHOCHITIET_HOADONNHAPKHO]
GO
ALTER TABLE [dbo].[HOADONHAPKHOCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONHAPKHOCHITIET_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[HOADONHAPKHOCHITIET] CHECK CONSTRAINT [FK_HOADONHAPKHOCHITIET_KHO]
GO
ALTER TABLE [dbo].[HOADONHAPKHOCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONHAPKHOCHITIET_MATHANG] FOREIGN KEY([MAMATHANG])
REFERENCES [dbo].[MATHANG] ([MAMATHANG])
GO
ALTER TABLE [dbo].[HOADONHAPKHOCHITIET] CHECK CONSTRAINT [FK_HOADONHAPKHOCHITIET_MATHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK__KHACHHANG__MAKHU__6477ECF3] FOREIGN KEY([MAKHUVUC])
REFERENCES [dbo].[KHACHHANGKHUVUC] ([MAKHUVUC])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK__KHACHHANG__MAKHU__6477ECF3]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK__KHACHHANG__MALOA__656C112C] FOREIGN KEY([MALOAIKHACHHANG])
REFERENCES [dbo].[LOAIKHACHHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK__KHACHHANG__MALOA__656C112C]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK__KHACHHANG__MANHO__66603565] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[KHACHHANGNHOM] ([MANHOM])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK__KHACHHANG__MANHO__66603565]
GO
ALTER TABLE [dbo].[KHACHHANGTHEODOIDOANHTHU]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANGTHEODOIDOANHTHU_KHACHHANG1] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[KHACHHANGTHEODOIDOANHTHU] CHECK CONSTRAINT [FK_KHACHHANGTHEODOIDOANHTHU_KHACHHANG1]
GO
ALTER TABLE [dbo].[KHOMATHANG]  WITH CHECK ADD  CONSTRAINT [FK__KHOMATHAN__MAKHO__6754599E] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[KHOMATHANG] CHECK CONSTRAINT [FK__KHOMATHAN__MAKHO__6754599E]
GO
ALTER TABLE [dbo].[KHOMATHANG]  WITH CHECK ADD  CONSTRAINT [FK__KHOMATHAN__MAMAT__68487DD7] FOREIGN KEY([MAMATHANG])
REFERENCES [dbo].[MATHANG] ([MAMATHANG])
GO
ALTER TABLE [dbo].[KHOMATHANG] CHECK CONSTRAINT [FK__KHOMATHAN__MAMAT__68487DD7]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK__MATHANG__MADONVI__693CA210] FOREIGN KEY([MADONVISI])
REFERENCES [dbo].[DONVI] ([MADONVI])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK__MATHANG__MADONVI__693CA210]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK__MATHANG__MADONVI__6A30C649] FOREIGN KEY([MADONVILE])
REFERENCES [dbo].[DONVI] ([MADONVI])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK__MATHANG__MADONVI__6A30C649]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK__MATHANG__MALOAIM__6B24EA82] FOREIGN KEY([MALOAIMATHANG])
REFERENCES [dbo].[LOAIMATHANG] ([MALOAIMATHANG])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK__MATHANG__MALOAIM__6B24EA82]
GO
ALTER TABLE [dbo].[MATHANGKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK__MATHANGKH__MAMAT__6C190EBB] FOREIGN KEY([MAMATHANG])
REFERENCES [dbo].[MATHANG] ([MAMATHANG])
GO
ALTER TABLE [dbo].[MATHANGKHUYENMAI] CHECK CONSTRAINT [FK__MATHANGKH__MAMAT__6C190EBB]
GO
ALTER TABLE [dbo].[MATHANGKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK__MATHANGKH__MAMAT__6D0D32F4] FOREIGN KEY([MAMATHANGKHUYENMAI])
REFERENCES [dbo].[MATHANG] ([MAMATHANG])
GO
ALTER TABLE [dbo].[MATHANGKHUYENMAI] CHECK CONSTRAINT [FK__MATHANGKH__MAMAT__6D0D32F4]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN1] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN1]
GO
ALTER TABLE [dbo].[NGUOIDUNG_QUYENHAN]  WITH CHECK ADD  CONSTRAINT [FK__NGUOIDUNG__MACHU__6E01572D] FOREIGN KEY([MACHUCNANG])
REFERENCES [dbo].[CHUCNANG] ([MACHUCNANG])
GO
ALTER TABLE [dbo].[NGUOIDUNG_QUYENHAN] CHECK CONSTRAINT [FK__NGUOIDUNG__MACHU__6E01572D]
GO
ALTER TABLE [dbo].[NGUOIDUNG_QUYENHAN]  WITH CHECK ADD  CONSTRAINT [FK__NGUOIDUNG__MANGU__6EF57B66] FOREIGN KEY([MANGUOIDUNG])
REFERENCES [dbo].[NGUOIDUNG] ([MANGUOIDUNG])
GO
ALTER TABLE [dbo].[NGUOIDUNG_QUYENHAN] CHECK CONSTRAINT [FK__NGUOIDUNG__MANGU__6EF57B66]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK__NHANVIEN__MALOAI__6FE99F9F] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAINHANVIEN] ([MALOAI])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK__NHANVIEN__MALOAI__6FE99F9F]
GO
ALTER TABLE [dbo].[PHIEUCHI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHI_HOADONNHAPKHO] FOREIGN KEY([MAHOADONNHAPKHO])
REFERENCES [dbo].[HOADONNHAPKHO] ([MAHOADONNHAP])
GO
ALTER TABLE [dbo].[PHIEUCHI] CHECK CONSTRAINT [FK_PHIEUCHI_HOADONNHAPKHO]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_HOADONXUATKHO] FOREIGN KEY([MAHOADONXUATKHO])
REFERENCES [dbo].[HOADONXUATKHO] ([MAHOADONXUAT])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_HOADONXUATKHO]
GO
ALTER TABLE [dbo].[QUANLYTHETHEOKHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK__QUANLYTHE__MAKHA__70DDC3D8] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[QUANLYTHETHEOKHACHHANG] CHECK CONSTRAINT [FK__QUANLYTHE__MAKHA__70DDC3D8]
GO
ALTER TABLE [dbo].[QUANLYTHETHEOKHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK__QUANLYTHE__MATHE__71D1E811] FOREIGN KEY([MATHE])
REFERENCES [dbo].[THONGTINTHE] ([MATHE])
GO
ALTER TABLE [dbo].[QUANLYTHETHEOKHACHHANG] CHECK CONSTRAINT [FK__QUANLYTHE__MATHE__71D1E811]
GO
USE [master]
GO
